<mat-toolbar class="top mat-elevation-z10"  fxLayout="row">
  <span>{{title}}</span>
  
  <span class="spacer"></span>

  <app-user-badge></app-user-badge>

  <!-- <div *ngIf="!sidebarVisible">&nbsp;&nbsp;|&nbsp;&nbsp; -->
    <!-- <mat-icon aria-hidden="false" aria-label="Show Sidebar" (click)="sidebarToggle()">menu</mat-icon> -->

  <div style=" right: 0px; display: inline-block;" > &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
    <button mat-icon-button [routerLink]="''" aria-label="Ritorna alla home">
      <mat-icon>home</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="da-container">
  <div class="da-content">
    <router-outlet></router-outlet>
  </div>
</div>

<app-loading-overlay></app-loading-overlay>