.user-bubble{
    position: absolute;
    font-size: smaller;
    top:50px;
    right:10px;
    background-color: rgba(255,255,255,0.9);
    color: black;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgb(71, 71, 71) 0px 20px 30px -10px;
    z-index: 999;
  }
  
  .sidenav-user{
    cursor: default;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 100%;
    padding-top: 10px;
  }
  