
  div.loading{
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(100vh - 44px);
    width: 100%;
    cursor: wait;
    z-index: 999;
    .modale{
      position: fixed;
      top: 44px;
      left: 0px;
      height: calc(100vh - 44px);
      width: 100%;
      background: rgb(191,191,191,0.6);
      background: linear-gradient(rgba(0, 0, 0, 0.6) 1%, rgba(0,0,0,0.4) 99%);
      z-index: 997;
    }
  }
  
  div.loadingText{
    display: flex;
    justify-content: center;
    padding: 2px 30px 0 30px;
    margin: auto;
    width: fit-content;
    height: 44px;
    // background: linear-gradient(90deg, rgba(0,75,150,0) 0%, var(--primary-color) 10%, var(--primary-color) 90%, rgba(0,75,150,0) 100%);
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
  
    .dot1, .dot2, .dot3 {
      background: #fff;
      border-radius: 50%;
      border: 1px solid black;
      width: 4px;
      height: 4px;
      margin: 22px 8px 8px;
    }
    .dot1 {
      animation: jump 1.6s -0.32s linear infinite;
    }
    .dot2 {
      animation: jump 1.6s -0.16s linear infinite;
    }
    .dot3 {
      animation: jump 1.6s linear infinite;
    }
  }
  @keyframes jump {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% {
      -webkit-transform: scale(2.0);
      transform: scale(2.0);
    }
  }
  